
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Salty Fish Investment Advisors</title>
   
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <script src="../static/js/jquery-1.11.2.js"></script>
    
   
  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/showSignin">User Home</a></li>
	        <li role="presentation" class="active"><a href="#">Search ETF</a></li>
	        <li role="presentation"><a href="/showUserPreference">Preference</a></li>
            <li role="presentation" ><a href="/logout">Logout</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Salty Fish Investment Advisors</h3>
      </div>
     <section>
      <form class="form-horizontal" method="post" action="/searchETF">
<fieldset>

<!-- Form Name -->
<legend>Search ETF</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="txtSymbol">ETF Symbol</label>  
  <div class="col-md-4">
  <input id="txtSymbol" name="inputSymbol" type="text" placeholder="placeholder" class="form-control input-md">
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <input id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit" value="Search" />
  </div>
</div>

</fieldset>
</form>
      
</section>

    </div>
  </body>
</html>

